@import "../../App.scss";

.carousel_container {
  background-color: $box_color;
  padding: 1em 3em;
  position: absolute;
  bottom: 10%;
  box-shadow: 4px 4px 4px 4px #000000;
  z-index: auto;
  margin: 2% 5%;
  border: 1px solid gainsboro;
  width: 75%;
}

#first_slide {
  display: contents;
}
.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.carousel.carousel-slider {
  margin: 0px auto;
  overflow: visible;
}

.carousel .slide {
  color: white;
}

.carousel .slide-holder {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.carousel .slide img {
  margin: 30px;
  width: 35%;
  height: 200px;
  object-fit: contain;
}
.carousel .slide iframe {
  margin: 30px;
  width: 35%;
}
.carousel .text-container {
  padding: 30px;
  text-align: left;
}

.carousel .text-container h2 {
  margin-top: 0px;
}

.carousel .text-container p:last-child {
  margin-bottom: 0px;
}

.carousel .control-dots {
  display: none;
}

.carousel .thumbs-wrapper {
  display: none;
}

#wineGlass {
  width: auto;
}
#a,
#b,
#c,
#d,
#e {
  position: absolute;
  font-family: $font_title_small;
  letter-spacing: 1px;
  text-shadow: 4px 4px 3px #000000;
  font-size: 1.8vh;
}
@media (orientation: landscape) {
  body {
    background-color: $background_color;
  }
  .carousel_container {
    height: 36%;
    padding: 1em 4.5em;
  }

  #a {
    top: 10%;
    left: 10%;
  }

  #b {
    top: 10%;
    left: 43%;
  }

  #c {
    top: 33%;
    left: 7%;
  }

  #d {
    top: 35%;
    left: 43%;
  }

  #e {
    top: 60%;
    left: 28%;
  }
}

@media (orientation: portrait) {
  // .wrapper_portrait {
  // }

  .carousel_container {
    position: absolute;
    /* display: flex; */
    /* justify-content: center; */
    /* align-items: center; */
    top: 40%;
    height: 50%;
    width: -webkit-fill-available;
    box-shadow: 4px 4px 4px 4px #000000;
    z-index: auto;
    margin: 5%;
    border: 1px solid gainsboro;
  }
  #wineGlass {
    height: 30vh;
  }
  #a {
    top: 4%;
    left: 5%;
  }

  #b {
    top: 16%;
    left: 30%;
  }

  #c {
    top: 33%;
    left: 5%;
  }

  #d {
    top: 52%;
    left: 25%;
  }

  #e {
    top: 70%;
    left: 10%;
  }
}

#franceMap {
  margin: 0%;
  height: 370px;
  filter: drop-shadow(3px 1px 4px black);
  padding: 1%;
  @include tablet-paysage {
    height: 290px;
    padding: 2%;
  }
}
#home_btn {
  cursor: pointer;
  position: absolute;
  bottom: 0vh;
  height: 5vh;
  text-align: center;
  margin-bottom: 2vh;
  @include tablet-paysage {
    bottom: 3vh;
    margin-bottom: 0%;
    height: 7vh;
  }
}
.slide-map {
  display: flex;
  flex-direction: row;
  font-family: $font_title_small;
  align-items: center;
  padding: 0% 5% 5% 5%;
  @include tablet-paysage {
    padding: 0% 5% 0% 5%;
  }
}
.text-map {
  font-size: 25px;
  letter-spacing: 5px;
  padding: 2%;
  text-align: center;
  line-height: 40px;
  @include tablet-paysage {
    padding: 0%;
    margin: 0%;
  }
}
.text-first-slide {
  font-family: $font_title_small;
  font-size: 3vh;
  letter-spacing: 5px;
  padding: 2%;
  line-height: 50px;
  margin: 15% 5% 20% 5%;
  @include tablet-paysage {
    margin: 5% 5% 5% 5%;
  }
}
