@import "../../App.scss";
@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce&display=swap");

.resume_wrapper {
  height: 100vh;
  width: 100%;
  @include black-page-background;
}
.profil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.nameBottle {
  list-style-type: none;
  font-size: 1.7rem;
  font-family: $font_title_small;
  letter-spacing: 0.05em;

}

.previousPageArrow {
  position: relative;
  top: 1.3vh;
  right: 0.1875vw;
  height: 4vh;
  width: auto;
}

.recipeName {
  font-size: 1em;
  color: $title_color;
}

.cepageTitle {
  font-size: 0.5em;
  color: $title_color;
}

.profil_title,
.recepie_title {
  color: $gold_title;
  font-family: $font_title_small;
  color: #d8af49;
  font-size: 3rem;
  letter-spacing: 0.3125rem;
  padding: 2vh;
  font-weight: 400;
  position: relative;
}

#bottle_resume {
  width: 12vh;
  margin-left: 11vh;
  z-index: 1;
  position: relative;
  bottom: 28vh;
}

.containBottleTitle {
  overflow-wrap: break-word;
}

.resume_info {
  width: 60vh;
  height: 10vh;
  border: 1px solid rgb(189, 187, 187);
  padding: 2%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  //background-color: $box_color
}

.halfBackground {
  background-image: url("../../assets//images/fond-gris_720.png");
  position: relative;
  width: 100%;
  z-index: 0;
}

.recepie_info {
  position: relative;
  background-color: #3e3e3e;
  box-shadow: 1px 1px 15px 1px #000000;
  padding: 1vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#commande_btn {
  position: relative;
}

#diploma {
  position: relative;
}

.personalDetails {
  font-family: $font_title_small;
  color: $title_color;
  line-height: 2;
  font-size: 2rem;
  margin-right: 2vw;
}

#rName {
  font-family: "Birthstone Bounce", cursive;
  letter-spacing: 0.2rem;
}

.bottle_title {
  color: black;
  font-family: "Birthstone Bounce", cursive;
  max-width: 30vh;
  word-break: break-word;
  font-weight: bold;
  position: relative;
  height: 10vh;
  width: 10vh;
  text-align: center;
  line-height: 2;
}
.diploma_winner {
  position: relative;
  font-family: $font_title_large;
  color: black;
  font-weight: bold;
}
.navigateLinkToResume img {
  transform: rotate(180deg);
}

@media (orientation: portrait) {
  .recipe_resume {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .recepie_title {
    left: 3vw;
  }

  #commande_btn {
    top: 1.5vh;
    bottom: 11vh;
    z-index: 2;
  }

  .resume_info {
    width: 60vh;
    height: 10vh;
    border: 1px solid rgb(189, 187, 187);
    padding: 2%;
  }

  .recepie_info {
    width: 40vw;
    height: 15vh;
    left: 10vw;
    background-color: #3e3e3e;
    //border: 1px solid rgb(189, 187, 187);
    box-shadow: 1px 1px 15px 1px #000000;
    padding: 1vh;
  }

  .halfBackground {
    height: 25%;
    bottom: 10vh;
  }
  #diploma {
    width: 35%;
    bottom: 25vh;
    left: 21vw;
  }

  .bottle_title {
    font-size: 2.5rem;
    z-index: 2;
    bottom: 3vh;
    left: 12vh;
  }

  .diploma_winner {
    bottom: 37.2vh;
    left: 62vw;
    font-size: 1.5rem;
  }

  #goBack_btn {
    position: absolute;
    left: 6vh;
    bottom: -4vh;
  }
}

@media (orientation: landscape) {
  .recipe_resume {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .resume_info {
    width: 40vh;
    position: relative;
    top: 3vh;
    height: 13vh;
    right: 23vh;
    flex-direction: column;
    font-size: 0.8em;
    flex-wrap: nowrap;
  }
  .recepie_info {
    width: 40vw;
    height: 17vh;
    left: 12vw;
    bottom: 24.57vh;
    background-color: #3e3e3e;
    box-shadow: 1px 1px 15px 1px #000000;
    padding: 1vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
  }

  .profil_title {
    position: relative;
    top: 1vh;
    right: 22vh;
    font-family: "Montaga", serif;
    color: #d8af49;
    font-size: 38px;
    padding: 2vh;
    font-weight: 400;
  }
  .recepie_title {
    position: relative;
    bottom: 26vh;
    color: #d8af49;
    font-family: "Montaga", serif;
    color: #d8af49;
    font-size: 38px;
    padding: 2vh;
    font-weight: 400;
  }

  .halfBackground {
    bottom: 30vh;
  }

  #diploma {
    width: 33vh;
    height: 23vh;
    bottom: 30vh;
    left: 24vw;
  }
  .bottle_title {
    font-size: larger;
    z-index: 2;
    left: 8vh;
    bottom: 26vh;
  }

  #goBack_btn {
    position: relative;
    bottom: 30vh;
    left: 4vw;
  }

  #bottle_resume {
    position: relative;
    width: 13vh;
    margin-left: 6vh;
    bottom: 30vh;
  }
  .diploma_winner {
    bottom: 46vh;
    left: 59.5vh;
  }

  #commande_btn {
    left: 10vw;
    top: -14vh;
  }

  .nameBottle {
    font-size: 0.7em;
  }
}
