@import "../../App.scss";
@import url("https://fonts.googleapis.com/css2?family=Birthstone+Bounce&display=swap");
.resume_wrapper {
  height: 100vh;
  width: 100%;
  @include black-page-background;
}
.profil {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.profil_title,
.recepie_title {
  color: $gold_title;
  font-family: $font_title_large;
  color: #d8af49;
  font-size: 38px;
  padding: 2vh;
  font-weight: 400;
  position: relative;
}

#bottle_resume {
  width: 12vh;
  margin-left: 11vh;
  z-index: 1;
  position: relative;
  bottom: 28vh;
}

.containBottleTitle {
  overflow-wrap: break-word;
}

.resume_info {
  width: 60vh;
  height: 10vh;
  border: 1px solid rgb(189, 187, 187);
  padding: 2%;
  //background-color: $box_color
}

.halfBackground {
  background-image: url("../../assets//images/fond-gris_720.png");
  position: relative;
  width: 100%;
  z-index: 0;
}

.recepie_info {
  position: relative;
  background-color: #3e3e3e;
  box-shadow: 1px 1px 15px 1px #000000;
  padding: 1vh;
}

#commande_btn {
  position: relative;
}

#diploma {
  position: relative;
}

.personalDetails {
  font-family: $font_title_large;
  color: $title_color;
  line-height: 2;
}
#rName {
  font-family: "Birthstone Bounce", cursive;
  letter-spacing: 0.2rem;
}
.bottle_title {
  color: black;
  font-family: "Birthstone Bounce", cursive;

  font-weight: bold;
  position: absolute;
  height: 10vh;
  width: 10vh;
  text-align: center;
  line-height: 2;
}
.diploma_winner {
  position: relative;
  font-family: $font_title_large;
  color: black;
  font-weight: bold;
}
.nextPageArrow {
  transform: rotate(180deg);
}
@media (orientation: portrait) {
  .recipe_resume {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .recepie_title {
    left: 2vw;
  }

  #commande_btn {
    top: 1.5vh;
    bottom: 11vh;
    z-index: 2;
  }

  .resume_info {
    width: 60vh;
    height: 10vh;
    border: 1px solid rgb(189, 187, 187);
    padding: 2%;
  }

  .recepie_info {
    width: 40vw;
    height: 15vh;
    left: 10vw;
    background-color: #3e3e3e;
    //border: 1px solid rgb(189, 187, 187);
    box-shadow: 1px 1px 15px 1px #000000;
    padding: 1vh;
  }

  .halfBackground {
    height: 25%;
  }
  #diploma {
    width: 35%;
    bottom: 25vh;
    left: 21vw;
  }

  .bottle_title {
    font-size: xx-large;
    z-index: 2;
    bottom: 19vh;
    left: 12vh;
  }

  .diploma_winner {
    bottom: 36.7vh;
    left: 62vw;
  }

  #goBack_btn {
    position: absolute;
    left: 3vh;
    bottom: -8vh;
  }
}

@media (orientation: landscape) {
  .recipe_resume {
    width: 80%;
    display: flex;
    height: 20vh;
    flex-direction: column;
    align-items: flex-end;
  }
  .resume_info {
    width: 40vh;
    position: relative;
    top: 3vh;
    height: 13vh;
    right: 23vh;
  }
  .halfBackground {
    /* position: absolute; */
    height: 25%;
  }
  .recepie_info {
    width: 40vh;
    top: 30vh;
    height: 17vh;
    right: 16vh;
    margin: 7vh 3vh;
  }
  .profil_title {
    position: relative;
    top: 1vh;
    right: 22vh;
    font-family: "Montaga", serif;
    color: #d8af49;
    font-size: 38px;
    padding: 2vh;
    font-weight: 400;
  }
  .recepie_title {
    position: relative;
    bottom: 26vh;
    color: #d8af49;
    font-family: "Montaga", serif;
    color: #d8af49;
    font-size: 38px;
    padding: 2vh;
    font-weight: 400;
  }
  #commande_btn {
    z-index: 2;
    top: 1;
    bottom: 11vh;
    right: 20vh;
  }

  #diploma {
    width: 33vh;
    height: 23vh;
    left: 90vh;
    bottom: 11vh;
  }
  .bottle_title {
    font-size: larger;
    z-index: 2;
    left: 8vh;
    bottom: 14vh;
  }

  #goBack_btn {
    position: absolute;
    //right: -48vh;
    bottom: -9vh;
  }

  #bottle_resume {
    position: relative;
    width: 13vh;
    margin-left: 6vh;
    bottom: 24vh;
  }
  .diploma_winner {
    bottom: 25vh;
    right: 19vh;
  }

  #commande_btn {
    left: 45vh;
    bottom: 19vh;
  }
}
