@import "../../App.scss";

.tastingTitlePage {
  position: relative;
  font-family: $font_inovin;
  font-family: $font_title_large;
  color: $gold_title;
  font-size: 3em;
  padding: 2.7vh;
  left: 3vw;

  @include tablet-paysage {
    font-size: 3em;
    text-align: center;
    position: relative;
    bottom: 1vh ;
  }
}

.tabs {
  width: 65vw;
  background: #c5c5c500;
  border-radius: 0em 1em 1em 1em;
  margin: 3.5rem auto 4.5rem;
  padding: 2rem 1rem;
  height: 12em;
}

ul.nav {
  width: 45vw;
  display: flex;
  position: relative;
  bottom: 5em;
  left: -3.2em;
  border-radius: 1em 1em 0em 0em;
}

ul.nav li {
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
  opacity: 0%;
  margin-left: -8vh;
  height: 4vh;
  width: 11vw;

  @include tablet-paysage {
    margin-left: -7vh;
    height: 6vh;
    width: 6vw;
  }
}

ul.nav li:hover {
  background: #3e3e3e4d;
}

ul.nav li:active {
  background: #3e3e3e4d;
}

.carouselWrapper {
  background-image: url(../../assets/images/fond-gris_720.png);
  padding: 1em 3em;
  position: relative;
  box-shadow: 0.1em 0.1em 0.5em 0.1em #000000;
  z-index: auto;
  margin: 1em 1em;
  border-radius: 1vh;
  width: 54vh;
  height: 50vh;
  top: 3vh;
  @include tablet-paysage {
    width: 100vh;
    height: 52vh;
    top: 0vh;
    left: 0vw;
  }
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}

.btn-page-next {
  cursor: pointer;
  position: inherit;
  text-decoration: none;
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  color: #fff;
  font-size: 25px;
  font-family: $font_title_small;
  letter-spacing: 0.1875rem;
  left: 18em;
  bottom: 4vh;

  @include tablet-paysage {
    left: 27em;
    bottom: 17vh;
  }
}

.btn-form-next {
  position: inherit;
  display: inline-block;
  background-color: white;
  border-radius: 8px;
  border: 0.8vh double #3e3e3e;
  color: #3e3e3e;
  text-align: center;
  font-size: 1.5em;
  transition: all 0.5s;
  cursor: pointer;
  font-family: $font_title_small;
  letter-spacing: 0.2vh;
  width: 7em;
  left: 15vw;
  bottom: 0.1vh;

  @include tablet-paysage {
    bottom: 6.5vh;
    left: 9vw;
  }
}

.btn-form-back {
  position: relative;
  display: inline-block;
  background-color: white;
  border-radius: 8px;
  border: 0.8vh double #3e3e3e;
  color: #3e3e3e;
  text-align: center;
  font-size: 1.5em;
  transition: all 0.5s;
  cursor: pointer;
  font-family: $font_title_small;
  letter-spacing: 0.2vh;
  width: 7em;
  left: 10vw;

  @include tablet-paysage {
    bottom: 6.5vh;
    left: 6vw;
  }
}

.nextPageArrow-tasting {
  position: relative;
  top: 1.3vh;
  right: 0.1875vw;
  height: 4vh;
  width: auto;
}

.btn-form-back:hover {
  background-color: $input_color;
}

.btn-form-back:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-form-back span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-form-back:hover {
  background-color: $input_color;
}

.btn-form-back:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-form-next:hover {
  background-color: $input_color;
}

.btn-form-next:hover span:after {
  opacity: 1;
  right: 0;
}

.btn-form-next span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.btn-form-next:hover {
  background-color: $input_color;
}

.btn-form-next:hover span:after {
  opacity: 1;
  right: 0;
}
