@import "../../App.scss";

.tabs {
  width: 65vw;
  background: $input_color;
  border-radius: 15px;
  margin: 3.5rem auto 4.5rem;
  padding: 2rem 1rem;
}

ul.nav {
  width: 50vw;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #0c1a22;
  border-radius: 15px;
  padding-left: 0px;
}

ul.nav li {
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
  border-bottom-left-radius: 15px;
  border-top-left-radius: 15px;
}

ul.nav li:hover {
  background: #3e3e3e4d;
}

ul.nav li:active {
  background: #3e3e3e4d;
}
.carouselWrapper {
  background-color: $box_color;
  padding: 1em 3em;
  position: absolute;
  bottom: 10%;
  box-shadow: 4px 4px 4px 4px #000000;
  z-index: auto;
  margin: 2% 5%;
  border: 1px solid gainsboro;
  width: 75%;
}

.carousel .control-arrow:before,
.carousel.carousel-slider .control-arrow:before {
  margin: 0 5px;
  display: inline-block;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
}
