@import "../../App.scss";

.navHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 15vh;
}

.logo {
  align-self: self-start;
  background-repeat: no-repeat;
  margin-left: 10px;
}

.inovinTitle {
  font-family: $font_inovin;
  color: $title_color;
  font-size: 8vh;
  text-shadow: 4px 4px 3px #000000;
  margin-right: 110px;
}

.loginLinks {
  height: 65px;
  width: 65px;
  margin-right: 10px;
  background-color: #0000;
  border: none;
}

.username {
  color: $gold_title;
  font-family: $font_title_small;
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 4px;
  transition: 2s;
}

.modal-btn {
  /* background-color: red; */
  height: 4vh;
  position: relative;
  top: 10vh;
  right: 0vh;
  display: flex;
  flex-direction: row;
}
#Mcontent {
  position: absolute;
  width: 37%;
}

#deconnexionBtn {
  margin-right: 10px;
}

#cancel {
  margin-left: 10px;
}

.modal-content {
  width: 41%;
}

.Mtext {
  font-family: $font_title_large;
}

.btn_M {
  display: inline-block;
  background-color: white;
  border-radius: 8px;
  border: 8px double #3e3e3e;
  color: $box_color;
  text-align: center;
  font-size: 22px;
  padding: 8px;
  /* width: 156px; */
  height: fit-content;
  transition: all 0.5s;
  cursor: pointer;
  margin: 1vh;
  font-family: $font_title_small;
  letter-spacing: 3px;
  position: relative;
  bottom: 2vh;
}
// .modal-actions {
//   display: flex;
//   justify-content: center;
// }

// .modal-btn {
//   display: flex;
//   justify-content: center;
//   align-items: center;
//   gap: 10px;
// }

// .deconnexionBtn,
// .cancel {
//   /* Add your button styles here */
// }

@media (orientation: landscape) {

  #Mcontent {
    position: relative;
    width: 50vw;
    right: 12vw;
    bottom: 23vh;
  }

  .btn_M {
    bottom: 25vh;
    right: 48vw;
  }

}

@media (orientation: portrait) {

  #Mcontent {
    position: relative;
    width: 50vw;
    right: 20vw;
    bottom: 28vh;
  }

  .btn_M {
    bottom: 32vh;
    right: 44vh;
  }

}