@import "../../App.scss";

.container_bouteilles {
  display: flex;
  height: 400px;
  width: 80%;
  flex-wrap: wrap;
  background-color: $background_color;
  box-shadow: 3px 4px 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  margin-top: -2%;
}

.element_bouteille {
  display: flex;
  width: 250px;
  height: 47%;
  margin-left: 8%;
  margin-top: 2%;
}

.element_text_droite {
  color: $title_color;
  font-family: $font_title_small;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.56);
  margin-left: 15%;
}

.element_mini_title {
  font-size: 26px;
  letter-spacing: 0.16em;
}

.element_description_bouteille {
  font-size: 20px;
}

.home_btn {
  height: 17%;
  width: 8rem;
  font-family: $font_title_small;
  margin-left: 13%;
  margin-top: 13%;
}
