@import "../../App.scss";

.container_bouteilles {
  display: flex;
  height: 400px;
  width: 80%;
  flex-wrap: wrap;
  background-color: #1D1D1D;
  box-shadow: 3px 4px 5px 2px rgba(0, 0, 0, 0.5);
  border-radius: 6px;
  margin-top: -2%;
}

.element_bouteille {
  display: flex;
  width: 250px;
  height: 47%;
  margin-left: 8%;
  margin-top: 2%;
}

.element_text_droite {
  color: $title_color;
  font-family: $font_title_small;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.56);
  margin-left: 15%;
}

.element_mini_title {
  font-size: 26px;
  letter-spacing: 0.16em;
}

.element_description_bouteille {
  font-size: 20px;
  letter-spacing: 0.1em;
  text-align: center;
}

.element_titre_exterieur_deux {
  font-family: $font_title_large;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-weight: 400;
  font-size: 38px;
  color: $gold_title;
  padding-bottom: 3%;
  padding-right: 23%;
}

.bouteille_btn {
    display: inline-block;
    background-color: white;
    border-radius: 8px;
    border: 8px double #3E3E3E;
    color: $box_color;
    text-align: center;
    font-size: 16px;
    height: 78px;
    font-size: 28px;
    width: 254px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    font-family: $font_title_small;
    letter-spacing: 3px;
    margin-top: 11%;
    margin-left: 5%
  }
  .bouteille_btn span {
    cursor: pointer;
          display: inline-block;
          position: relative;
          transition: 0.5s;
  }
  .bouteille_btn span:after {
    content: "\00bb";
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  .bouteille_btn:hover {
    background-color: $input_color;
  }
  .bouteille_btn:hover span {
    padding-right: 25px;
  }
  .bouteille_btn:hover span:after {
    opacity: 1;
    right: 0;
  }
