@import "../../App.scss";

#title {
  color: $title_color;
  font-family: $font_title_small;
  text-align: center;
  line-height: 2;
  text-shadow: 4px 4px 4px rgb(0 0 0 / 96%);
}
#background_btn {
  transform: rotate(180deg);
}
#home_btn {
  cursor: pointer;
  position: absolute;
  bottom: 6vh;
  height: 5vh;
  text-align: center;
  margin-bottom: 2vh;
}
.title_background {
  transform: rotate(180deg);
  width: inherit;
  position: absolute;
  top: 20vh;
}

@media (orientation: landscape) {
  .header_container {
    background-image: url(/src/assets/images/wines.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: 2%;
    font-family: "Bebas Neue", sans-serif;
    width: 50%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    top: 22vh;
    z-index: 1;
    align-items: center;
    margin: 0 auto;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    transform: translate(50%);
  }

  .start_button {
    font-family: $font_title_small;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 1%;
    left: 50%;
    transform: translateX(-50%);
  }
  .title_background {
    transform: rotate(180deg);
    width: inherit;
    position: absolute;
    top: 20vh;
  }

  .home_btn {
    height: 27%;
    width: 8rem;
    font-family: $font_title_small;
    position: absolute;
    top: 1%;
  }
}

@media (orientation: portrait) {
  .start_button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 7%;
    left: 50%;
    transform: translateX(-50%);
  }
  .header_container {
    background-image: url("../../../src/assets/images/wines.jpg");
    background-size: contain;
    width: 50%;
    height: 20%;
    justify-content: center;
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 18%;
    z-index: 1;
    align-items: center;
    margin: 0 auto;
    transform: translateX(-50%);
    left: 50%;
    border-radius: 5%;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }
  .title_background {
    position: absolute;
    top: 13em;
  }
}
