@import "../../App.scss";

.footerContainer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: end;
}

.inovinSiteLink {
  color: $input_color;
  margin-left: 10px;
  text-decoration: none;
}
#siteLink_dark {
  text-shadow: 4px 4px 3px #000000;
}

.legal-link {
  font-family: $font_title_small;
  color: $gold_title;
  cursor: pointer;
  border: none;
}

footer button {
  background-color: transparent;
}

.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.modal-content {
  width: 60%;
  min-height: 200px;
  background-color: $input_color;
  padding: 25px;
  border-radius: 15px;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.modalTitle {
  font-size: 2em;
  text-decoration: underline;
}

.modalText {
  font-size: 1.5em;
  text-align: center;
}

.close {
  display: inline-block;
  background-color: white;
  border-radius: 8px;
  border: 8px double #3e3e3e;
  color: $box_color;
  text-align: center;
  font-size: 1.3em;
  padding: 8px;
  width: 22vw;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
  font-family: $font_title_small;
  letter-spacing: 3px;
  position: inherit;
  @include tablet-paysage {
    width: 20vw;
    margin-top: 1%;
  }
}
