@import "../../App.scss";

.sendForm {
  border: none;
  padding: 10px;
  border-radius: 5px;
  letter-spacing: 3px;
  cursor: pointer;
  background-color: $button_background_color;
}

.noticeContainer {
  background-color: $box_color;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("../../assets/images/fond-gris_720.png");
  border-radius: 10px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25))
    drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.content {
  color: $title_color;
  background-color: #c5c5c538;
  border-radius: 10px;
  position: relative;
  width: 80%;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.content h3 {
  font-family: $font_title_small;
  letter-spacing: 5px;
  font-size: 1rem;
  width: 100%;
}

input[type="radio"] {
  display: none;
}

.commentsPage {
  width: 90%;
  margin-left: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.commentsBook {
  box-sizing: border-box;
  background-color: $box_color;
  display: flex;
  justify-content: center;
  position: absolute;
  border: 0.493274px solid #ffffff;
  border-radius: 6px;
  padding: 8px 0;
}

.starContainer {
  display: inline-block;
  padding-right: 4%;
}

textarea {
  background-color: #c5c5c592;
  resize: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 12px;
  color: #fff;
  overflow: auto;
  position: relative;
  top: -2%;
}

textarea::placeholder {
  color: #fff;
}

.buttonDecoration {
  position: relative;
  top: 14%;
  border: 1px solid #fff;
  border-radius: 5px;
  padding: 5px;
}

.noticeTitle {
  color: $gold_title;
  font-family: $font_title_large;
  position: relative;
  top: 5%;
  font-size: 2.5rem;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
}

.feedbackSent {
  color: $gold_title;
  font-family: $font_title_large;
  position: relative;
  top: 5%;
  font-size: 1.5rem;
  letter-spacing: 5px;
  margin: 0;
  padding: 0;
}

@media (orientation: portrait) {
  .commentsBook {
    box-sizing: border-box;
    background-color: $box_color;
    width: 80%;
    display: flex;
    justify-content: center;
    z-index: 1;
    top: 20%;
  }

  .commentsBook h2 {
    padding: 10px 0;
    color: $title_color;
    font-size: 2rem;
  }

  .noticeContainer {
    width: 90%;
    height: 60vh;
    position: relative;
    top: 20px;
  }

  .content {
    top: 10%;
    height: 65%;
  }

  .star {
    cursor: pointer;
    transition: 300ms;
    position: relative;
  }

  .separatorImg {
    transform: rotate(180deg);
    position: relative;
    z-index: 1;
    bottom: -8px;
    width: 70%;
  }

  .sendForm {
    border: none;
    padding: 10px;
    border-radius: 5px;
    letter-spacing: 3px;
    cursor: pointer;
    background-color: $button_background_color;
  }

  .nextPageArrow {
    position: relative;
    top: 4px;
    right: 3px;
    height: 20px;
    width: auto;
  }

  .navigateLinkToResume {
    cursor: pointer;
    position: relative;
    left: 40%;
    top: 22%;
    text-decoration: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: $font_title_small;
    letter-spacing: 3px;
  }

  textarea {
    font-size: 1.2rem;
  }
}

@media (orientation: landscape) {
  .commentsBook {
    box-sizing: border-box;
    background-color: $box_color;
    width: 40%;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 19.5%;
    z-index: 1;
  }

  .commentsBook h2 {
    padding: none;
    color: $title_color;
    padding: 7px 0px;
    font-size: 2rem;
  }

  .noticeTitle {
    font-size: 1.5rem;
    top: 3%;
  }
  .feedbackSent {
    font-size: 1.5rem;
    top: 3%;
  }

  .content {
    color: $title_color;
    background-color: #c5c5c538;
    border-radius: 10px;
    position: relative;
    top: 5%;
    width: 80%;
    height: 70%;
    text-align: center;
  }

  .content h3 {
    font-family: $font_title_small;
    letter-spacing: 5px;
  }

  input[type="radio"] {
    display: none;
  }

  .star {
    cursor: pointer;
    transition: 300ms;
    position: relative;
  }

  .separatorImg {
    transform: rotate(180deg);
    position: relative;
    z-index: 1;
    bottom: -8px;
    width: 70%;
  }

  .nextPageArrow {
    position: relative;
    top: 4px;
    right: 3px;
    height: 20px;
    width: auto;
  }

  .navigateLinkToResume {
    cursor: pointer;
    position: relative;
    left: 43%;
    top: 15%;
    text-decoration: none;
    border: none;
    background: none;
    padding: 0;
    margin: 0;
    color: #fff;
    font-size: $font_title_small;
    letter-spacing: 3px;
  }

  textarea {
    font-size: 1rem;
    position: relative;
    top: 5%;
    margin-bottom: 5%;
  }

  .starContainer {
    position: relative;
    top: 5%;
  }

  .rateExpTitle {
    position: relative;
    top: 5%;
  }

  .noticeContainer {
    height: 55vh;
    position: relative;
    top: 10px;
  }

  .buttonDecoration {
    top: 10%;
  }

  .askCommentTitle {
    position: relative;
    top: 5%;
  }
}
