@import "../../App.scss";

.degustationContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.picture-band-taste {
  position: relative;
  bottom: 4.9em;
}
.degustationTitle {
  padding: 1em 3em;
  position: relative;
  font-family: $font_inovin;
  color: $input_color;
  background-color: $box_color;
  border: solid 0.03em $button_background_color;
  border-radius: 0.1em;
  font-size: 3.4em;
  align-self: center;
  padding: 3vh;
  bottom: 6vh;
}
