@import "../../App.scss";

.container_atelier {
  display: flex;
  flex-direction: column;
  margin-top: 25%;
  width: 100%;
  height: 640px;
  align-items: center;
  background-image: url("../../assets/images/wines.jpg");
  background-size: cover;
}
