@import "../../App.scss";

.element-fond {
  background-image: url(/src/assets/images/wines2.jpg);
  height: 1024px;
  margin-top: -30%;
  background-size: 216%;
  background-position-x: center;
  background-position-y: center;
}

.container_atelier {
  display: flex;
  flex-direction: column;
  margin-top: 25%;
  width: 100%;
  height: 640px;
  align-items: center;
  background-size: cover;
}
