@import "../../App.scss";
.progress-bar {
  max-width: 100%;
  width: 100%;
}
.progress-bar {
  clip-path: polygon(
    30% 90%,
    60% 90%,
    60% 36%,
    50% 28%,
    50% 12%,
    52% 8%,
    52% 0%,
    39% 0%,
    39% 8%,
    41% 12%,
    41% 28%,
    30% 36%
  );
  position: relative;
  width: 200px;
  height: 250px;
  background-color: goldenrod;
  border-radius: 10px;
  overflow: hidden;
}

.progress-bar-inner {
  position: absolute;
  bottom: 10px;
  left: 64px;
  width: 28%;
  height: 50%;
  background-color: goldenrod;
  transition: height 0.2s ease-in-out;
  text-align: center;
  font-size: 2em;
  font-family: $font_title_small;
  padding-top: 0.1em;
}

.h3-pourcentage {
  margin-top: 10px;
  text-align: center;
}

.progress-bar:before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 36px;
  width: 60%;
  height: 94%;
  background-color: #000;
  border-radius: 5px;
  clip-path: polygon(
    25% 90%,
    65% 90%,
    65% 36%,
    50% 28%,
    50% 9%,
    53% 5%,
    53% 0%,
    38% 0%,
    38% 5%,
    41% 9%,
    41% 28%,
    25% 36%
  );
}
