@import "../../App.scss";
.title-bottle {
  font-family: $font_title_large;
  color: $gold_title;
  font-size: 3em;
  align-self: center;
  padding: 23px 1px 1px 1px;
}
.progress-bar {
  max-width: 100%;
  width: 100%;
}
.progress-bar {
  clip-path: polygon(
    30% 90%,
    60% 90%,
    60% 36%,
    50% 28%,
    50% 12%,
    52% 8%,
    52% 0%,
    39% 0%,
    39% 8%,
    41% 12%,
    41% 28%,
    30% 36%
  );
  position: relative;
  width: 200px;
  height: 250px;
  background-color: goldenrod;
  border-radius: 10px;
  overflow: hidden;
  margin-left: 1vh;
}

.progress-bar-inner {
  position: absolute;
  line-height: 300vh;
  bottom: 10px;
  left: 64px;
  width: 28%;
  height: 50%;
  background-color: goldenrod;
  transition: height 0.2s ease-in-out;
  text-align: center;
  font-size: 2em;
  font-family: $font_title_small;
  padding-top: 0.1em;
}

.h3-pourcentage {
  margin-top: 10px;
  text-align: center;
}
.percentage-title {
  text-align: center;
  font-family: $font_title_small;
  color: white;
  font-size: 2em;
  margin-left: 7.2vw;
  width: 10vw;
  border-radius: 6px;
  padding: 8px 4px 0px 5px;
  @include tablet-paysage {
    margin-left: 4vw;
    position: relative;
    bottom: 3vh;
  }
}
.progress-bar:before {
  content: "";
  position: absolute;
  bottom: 8px;
  left: 36px;
  width: 60%;
  height: 94%;
  background-color: #000;
  border-radius: 5px;
  clip-path: polygon(
    25% 90%,
    65% 90%,
    65% 36%,
    50% 28%,
    50% 9%,
    53% 5%,
    53% 0%,
    38% 0%,
    38% 5%,
    41% 9%,
    41% 28%,
    25% 36%
  );
}

.water-fill {
  position: absolute;
  top: -38px;
  left: -16vw;
  width: 33vw;
  height: 6vh;
  background-color: $gold_title;
  clip-path: polygon(
    0% 53%,
    8% 45%,
    15% 44%,
    21% 44%,
    25% 50%,
    29% 54%,
    35% 57%,
    47% 57%,
    51% 52%,
    60% 41%,
    66% 37%,
    72% 38%,
    77% 43%,
    80% 47%,
    87% 57%,
    95% 56%,
    99% 48%,
    100% 86%,
    0% 88%
  );
  animation: waterAnimation 1s linear infinite forwards; /* Ajoutez une animation pour le mouvement horizontal */
}

@keyframes waterAnimation {
  0%,
  100% {
    transform: translateX(-30%); /* Le liquide commence et termine au centre */
  }
  50% {
    transform: translateX(
      30%
    ); /* Le liquide est au maximum de son déplacement à droite */
  }
}
