@import "../../App.scss";

.generalContainer {
  height: 102vh;
  width: 100vw;
  background-color: white;
}
.adminTitle {
  font-family: $font_title_large;
  color: #d8af49;
  font-size: 53px;
  margin-left: 11rem;
  margin-top: -34%;
  padding-top: 7%;
}

.containerParent {
  font-family: $font_title_small;
}

.containerAjoutGauche {
  font-family: $font_title_small;
  font-size: x-large;
}

.containerParent {
  margin-top: 3%;
}

.titreAjoutVin {
  font-size: 2.3em;
  margin-top: 3.3em;
  margin-left: 2rem;
}
